*{margin: 0px;}
li{
	list-style: none;
}
body{
	margin: 0px;
}
.pict{
	position: absolute; 
	margin:0 auto;
	background: url("../images/login-bg.jpg")  bottom  repeat-x;
	height: 100%;
	z-index: -1; 
	overflow: hidden;
}
#login{
	position: absolute;
	top: 20%;
}
.login_group{
	margin-left: 80%;
    width: 400px;
    border-left: 100px;
 	padding: 30px 50px;
    background: #FFFFFF;
   	overflow: hidden;
    font-size: 14px;

}
.login_group .logo{
	width:100%;
	height:44px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	border-bottom:1px solid #ddd;
}
.login_group .login_form{
	margin-top: 15px;
}
.login_group .login_form .input_username{
	padding: 2px 8px;
	border:1px solid #dedede;
	border-radius: 8px;
	margin-top: 10px;
}
.login_group .login_form .input_password{
	padding: 2px 8px;
	border:1px solid #dedede;
	border-radius: 8px;
	margin-top: 10px;
}	
.login_group .login_form .input_verify{
	padding: 2px 8px;
	border:1px solid #dedede;
	border-radius: 8px;
	margin-top: 10px;
}
.login_group .input_finish{
	text-align: center;
}
.login_group .input_finish input{
	margin-top:15px;
    background: #45B549;
    line-height: 35px;
    width: 150px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.login_group .login_form .login_input{
	height: 35px;
    border: none;
    line-height: 35px;
    width: 200px;
    font-size: 14px;
    outline: none;
}
